<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gallery">

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".ChoiceGalleryActivity" android:theme="@style/Gallery_AppTheme_Light"/>
        <activity android:name=".GalleryPreviewActivity" android:theme="@style/Gallery_AppTheme_Light"/>
        <activity android:name=".GalleryUCropActivity" android:theme="@style/Gallery_AppTheme_Light"/>

        <provider
            android:name=".GalleryFileProvider"
            android:authorities="${applicationId}.gallery.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gallery_file_paths" />
        </provider>
        <service
            android:name=".ScanningLocalPhotoService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>